body {
    background-color: rgb(150, 150, 150);
    padding: 10px;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black;  */
  }

.header {
    background-color: rgba(235, 235, 235, 0.755);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 90px;
    margin-bottom: 10px;

}



.mid {
    display: flex;
    justify-content: center;    
    flex: 2;    
}

.left, .right {
    display: flex;
    flex: 1;
}

.left img {
    height: 70px;
    justify-content: center;
    
}

.header h1 {
    color: rgb(150, 150, 150);
    font-family: fantasy;
    font-weight: 500;
    font-size: 35px;
    margin-left: auto; 
    padding: 5px;   
    
}
.header a {
    text-decoration: none;
}







.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;    
    background-color: rgb(150, 150, 150);
    margin-bottom: 10px;
    flex-wrap: wrap;
    
}

.card-image , .card-info {
    background-color: rgba(235, 235, 235, 0.755);
    margin: 5px;
    
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 500px;
    height: 300px;
    margin-right: 10px;
    
    
}
.card-image img{
    
    width: 300px;
    padding: auto;
    height: auto;
   
    
}

.card-info {
   height: 300px;
   width: 500px;
    

}